
<div class="panel panel-default">
  <div class="panel-body">
  	<div class="row">
  		<div class="col-lg-8 col-md-8 col-xs-12 col-sm-12">
	        <label>Nome:</label>
	        <input type="text" class="form-control" ng-model="product.name">
    	</div>
	</div>
  	<div class="row">
	  	<div class="checkbox col-lg-8 col-md-8 col-xs-12 col-sm-12">
	        <label>
	        	<input type="checkbox" ng-model="product.value" ng-true-value="true" ng-false-value="false" ng-checked="usuario.situacao"><% usuario.situacao == '1' ? 'Ativo' : 'Inativo' %>
	        </label>
		</div>
	</div>
  </div>
</div>
