
<div class="panel panel-default">
  <div class="panel-body">
  	<div class="row">
  		<div class="col-lg-8 col-md-8 col-xs-12 col-sm-12">
	        <label>Nome:</label>
	        <input type="text" class="form-control" ng-model="product.name">
    	</div>
	</div>
  	<div class="row">
	  	<div class="col-lg-8 col-md-8 col-xs-12 col-sm-12">
			<label>Valor:</label>
			<div class="input-group">
				<span class="input-group-addon">R$</span>
				<input step="0.01" type="number" class="form-control" ng-model="product.value">
			</div>
		</div>
	</div>
  </div>
</div>
