{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <h1>Teste para desenvolvedor full stack</h1>
            <h4>Bem vindo!</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <p>Olá, vamos começar o teste?</p>
            <p>Essa base é muito semalhante a que será usada por você, caso venha trabalhar conosco. Já existe no menu "Usuário" um CRUD funcionando, com todos os requisitos necessários.</p>
            <p>Você deverá fazer um outro CRUD, para a tabela <b>Produto</b>. A tabela deverá ter os <u>seguintes campos</u>:</p>
            <p>
                <ul>
                    <li>ID</li>
                    <li>Nome</li>
                    <li>Valor</li>
                </ul>
                <br>
                <span>Obs: Não se esqueça de alterar os parâmetros de configuração no parameters.yml com os dados de conexão com seu banco de dados!</span>
            </p>
            <p>
                <u>Serão avaliados os seguintes itens</u>:
                <ul>
                    <li>Execução da listagem, cadastro, edição e exclusão.</li>
                    <li>Código</li>
                    <li>Cumprimento da tarefa e envio conforme proposto.</li>
                </ul>
            </p>
            <p>Assim que finalizar o teste, suba a aplicação para uma conta no GitHub e me envie o link por e-mail! Você tem até o dia 01-07-2018 ás 23:59 para enviar. Assim que receber o teste, vou avaliar e caso esteja tudo ok, entrarei em contato para agendar uma entrevista via Skype para darmos continuidade ao processo! </p>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
